* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.overflow_hidden {
	overflow: hidden;
}

.main_wrapper,
.overflow_hidden {
	background-image: url(../img/main_bg.png);
	background-position: 50% 0px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}